body {
    background: linear-gradient(#4bc400 0%, #33c9cc 50%, #3003fc 100%);
    background-repeat: no-repeat;
    text-align: center;
}

img{
   border-radius:50%
}

p{
    font-size: 22px;
   font-family: 'Josefin Sans', sans-serif;     
}

h1 {
    text-shadow: 2px 2px #EF6C00;
    font-size: 30px;
}

h2{
    font-family: 'Josefin Sans', sans-serif;
}

#menu {
    z-index: 10;
    list-style: none;
    font-family: 'Josefin Sans', sans-serif;
    float:right; 
    top: 10px;
    right: 30px;
    cursor: pointer;
    color: firebrick;
    font-size: 20px;
}

.link{
    color: aqua; 
    display: inline;
}

#welcome{
    z-index: 9;
    padding-top: 200px;
}